.game_container {
  padding: 2px 3px;
  background-color: rgb(183, 183, 183);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  display: flex;
  height: 3rem;
  width: 3rem;
  margin: 5px 3px;
  color: white;
  border-radius: 2px;
  font-weight: 700;
  line-height: 1rem;
  font-size: 16px;
  transition-duration: 30ms;
  justify-content: center;
  align-items: center;
}

.obstacle {
  composes: cell;
  box-shadow: 1px 1px 3px 1px black;
}
